.cache
.cargo
.dotfiles
.expo
.fontconfig
.local
.mozilla
.npm
.bun
.nvm
.oh-my-zsh
.pki
.rustup
.ssh
.java
.opam
.local
.python_history
.bash_history
*.log
lazygit
projects
nvim-linux64.deb
nvim.appimage
.angular-config.json
.bash-history
.bash_logout
.bashrc
.gitconfig
.lesshst
.profile
.wget-hsts
.yarnrc
.zcompdump
.zcompdump-SUMIT-PF1YH144-5.8
.zcompdump-SUMIT-PF1YH144-5.8.zwc
.zsh_history
.zshenv
.zshrc.ohmy
README.md
doge_ascii.txt
romi_ascii.txt
tmux-client-543.log
tmux-server-545.log
